<tr id="drawer-bottom-row-add">
    <td colspan="4" class="px-6 py-4 text-right">
        <button type="button"
                class="px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                hx-get="{% url 'show_drawer_bottom_add' %}"
                hx-target="#drawer-bottom-row-add"
                hx-swap="outerHTML">
            Add New Bottom Size
        </button>
    </td>
</tr> 